In [1]:
import pandas as pd
import numpy as np
from classes.DataCleaning import DataCleaning
from sklearn.model_selection import TimeSeriesSplit

In [2]:
clean_data = DataCleaning()
df = clean_data.get_dataset("raw_data")

In [15]:
tscv = TimeSeriesSplit()

to_be_predicted = df.loc["2023"]

X = df.drop(labels=["Total Trafikkmengde"], axis=1)
y = df["Total Trafikkmengde"]

# Split dataset
for train_index, test_index in tscv.split(X):
    X_train, X_test = X.iloc[train_index, :], X.iloc[test_index, :]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [16]:
to_be_predicted

,Globalstraling,Solskinstid,Lufttemperatur,Vindretning,Vindstyrke,Lufttrykk,Vindkast,Total Trafikkmengde
Datetime,,,,,,,,
2023-01-01 00:00:00,0.000000,0.0,0.716667,42.800000,1.283333,994.833333,2.70,NaN
2023-01-01 01:00:00,0.000000,0.0,0.583333,54.666667,1.283333,995.033333,3.10,NaN
2023-01-01 02:00:00,0.000000,0.0,-0.200000,38.666667,0.733333,995.400000,2.05,NaN
2023-01-01 03:00:00,0.000000,0.0,-1.316667,135.000000,0.950000,995.666667,2.25,NaN
2023-01-01 04:00:00,0.000000,0.0,0.833333,64.333333,3.266667,995.566667,5.50,NaN
...,...,...,...,...,...,...,...,...
2023-06-30 19:00:00,34.566667,0.0,13.666667,148.333333,2.800000,996.800000,4.35,NaN
2023-06-30 20:00:00,7.966667,0.0,13.283333,141.166667,2.316667,996.583333,3.90,NaN
2023-06-30 21:00:00,1.816667,0.0,13.466667,146.000000,3.250000,996.033333,5.20,NaN
2023-06-30 22:00:00,0.416667,0.0,13.550000,143.000000,2.650000,995.600000,4.05,NaN
2023-06-30 23:00:00,0.750000,0.0,13.616667,138.500000,2.050000,995.300000,3.35,NaN